@{
    ViewData["Title"] = "Home Page";
}
<style>
    h1, h2{
        color: #fff;
    }
</style>
<div class="text-center">
    <h1 class="display-2 ">Welcome</h1>
    <h2 class="display-2 ">To The Study Helper App</h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
